<html>
    <head>
        <title>Error page</title>
        <style>
            body{
                color: red;
                background-color: white;
                font-size: 30px;
            }
        </style>
    </head>
    <body>
        
        <div class="navbar">
            <ul>
                <li><a href="http://localhost:8000/welcome/">Home</a></li>
                <li><a href="http://localhost:8000/performers/">Performers</a></li>
                <li><a href="http://localhost:8000/jokes/">Write Jokes</a></li>
                <li><a href="http://localhost:8000/seejokes/">Jokes</a></li>
                <li><a href="http://localhost:8000/login/">Login</a></li>
                <li><a href="http://localhost:8000/signup/">Sign Up</a></li>
            </ul>
        </div>
        <center><h1>Invalid Entry(-_-)!</h1></center>
    </body>
</html>