<html>
    <head>
        <title>about the performers</title>
        <style>
            body{
                background-color: black;
                color: blue;
                font-size: 30px;
            }
            iframe {
    padding:20px; 
  }
        </style>
    </head>
    <body>
        <center><h1>its US</h1></center>
    <div class="performers">
        <div class="charith">        
            <iframe width="375" height="300" src="https://www.youtube.com/embed/1kxe98_uzKE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe> 
        </div>
        <div class="nafi">
            <iframe width="375" height="300" src="https://www.youtube.com/embed/5F_4P12qy4U" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
        <div class="rahul">
            <iframe width="375" height="300" src="https://www.youtube.com/embed/a9U9N_9NFIs?start=20" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
        <div class="uday">
            <iframe width="375" height="300" src="https://www.youtube.com/embed/b-zi2WQtwIE?start=5" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
        <div class="sid">
            <iframe width="375" height="300" src="https://www.youtube.com/embed/htwwwKrXSDs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
    </div>

    </body>

</html>